.c-menu
  ul.c-menu__btn-box
    li.c-menu__btn-wrap
      a.c-menu__btn(href="#menu") 各區菜單
    li.c-menu__btn-wrap
      a.c-menu__btn(href="#newIn") 新品介紹
    li.c-menu__btn-wrap
      a.c-menu__btn(href="#order") 點餐
    li.c-menu__btn-wrap
      a.c-menu__btn(href="#news") 最新消息
    li.c-menu__btn-wrap
      a.c-menu__btn(href="#contect") 聯絡我們