.c-navbar
  a.c-navbar__logo-mask(href="#header")
    img.c-navbar__logo(src="img/logo/logo-icon.png", alt="")
  .c-navbar__menu 
    p.u-mr-20 Follow Us
    ul.c-navbar__btn-box
      li.c-navbar__btn-wrap
        a.c-navbar__btn(href="##")
          i.fa-brands.fa-line
          //- img(src="", alt="")
          //- span Line官方
      li.c-navbar__btn-wrap
        a.c-navbar__btn(href="##")
          i.fa-brands.fa-facebook
          //- img(src="", alt="")
          //- span FB粉專
      li.c-navbar__btn-wrap
        a.c-navbar__btn(href="##")
          i.fa-brands.fa-instagram
          //- img(src="", alt="")
          //- span Instagram